{% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
  	<title>TreasureGram</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <body>
      <a href="/"><h1>TreasureGram</h1></a>
      {% if user.is_authenticated %}
        <a  href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a> |
        <a  href="{% url 'logout_view' %}">Logout</a>
 {% else %}
        <a  href="{% url 'login_view' %}">Login</a>
 {% endif %}
 <hr />
      {% block content %}
      {% endblock %}
      <footer>
    All Rights Reserved, TreasureGram 2017
  </footer>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
    </body>
   </html>
